*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
 
  --font-size: 10px;
  --font-clr: ;
    
  --primary-bg: hsl(240, 1.3%, 56.3%);

  --clr-board: hsl(0, 0%, 82.4%); 
  --clr-board-border: hsl(240, 1%, 79.4%);
  --clr-cross: hsl(228.3, 95.3%, 83.1%);
  --clr-cross-border: hsl(230.1, 69.5%, 79.4%);
  --clr-zero: hsl(49.6, 98.2%, 78%);
  --clr-zero-border: hsl(51.8, 78.6%, 83.5%);
}


html {
  font-size: var(--font-size);
}

body {
  background-color: hsl(240, 1.3%, 56.3%);
}


/* utility CSS class */

.grid {
  display: grid;
}

.hide {
  display: none !important;
}


/* site layout */

#wrapper {
  min-height: 100vh;
  grid-template: "header" 1fr 
                 "board" 5fr 
                 "footer" 0.5fr 
                 / 1fr;
  gap: 1rem;
}

header, 
main,
footer {
  background-color: white;
}


/* header */

header {
  place-items: center;
}


/* user details modal  */

.user-details{
  
}


/* tic tac toe board  */
 
main {
  border: 4px solid var(--clr-zero-border);
  grid-area: board;
}

.board-grid {
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  max-inline-size: 60%;
  aspect-ratio: 1;  
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.all-border {
  border: 1px solid var(--clr-board-border);
}

.left-right-border {
  border-left: 1px solid var(--clr-board-border);
  border-right: 1px solid var(--clr-board-border);
}

.top-bottom-border {
  border-top: 1px solid var(--clr-board-border);
  border-bottom: 1px solid var(--clr-board-border);
}


/* winning message */

.winMessageBox {
  position: absolute;
  top: 0;
  left: 0;
  block-size: 100%;
  inline-size: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--font-size) * 1.6);
  background-color: var(--clr-cross);
}

.buttons {
  display: flex;
  gap: 3rem;
}

.buttons > * {
  inline-size: calc(7vw + 5rem);
  padding: 1rem 0; 
}

/* Footer */

footer {
  place-items: center;
}
